@{
    ViewData["Title"] = "Política de privacidade";
}


<header>
    <h1>@ViewData["Title"]</h1>
</header>
<main>
    <section>
        <h2>1. Informações que Coletamos</h2>
        <p>Coletamos os seguintes tipos de informações:</p>
        <ul>
            <li><strong>Informações fornecidas por você:</strong> Nome, e-mail e outras informações fornecidas
                voluntariamente através de formulários.</li>
            <li><strong>Informações de navegação:</strong> Dados como endereço IP, tipo de navegador, páginas acessadas,
                e tempo de visita, coletados automaticamente por cookies e ferramentas de análise.</li>
        </ul>
    </section>

    <section>
        <h2>2. Como Usamos Suas Informações</h2>
        <p>Utilizamos as informações coletadas para:</p>
        <ul>
            <li>Melhorar a experiência do usuário.</li>
            <li>Enviar comunicações relacionadas ao site, como newsletters, quando autorizado.</li>
            <li>Atender às solicitações feitas por você.</li>
        </ul>
    </section>

    <section>
        <h2>3. Compartilhamento de Informações</h2>
        <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para:</p>
        <ul>
            <li>Cumprir exigências legais ou ordens judiciais.</li>
            <li>Prover serviços por meio de parceiros que respeitem esta Política de Privacidade.</li>
        </ul>
    </section>

    <section>
        <h2>4. Cookies</h2>
        <p>Utilizamos cookies para coletar informações de navegação e melhorar a funcionalidade do site. Você pode
            desativar os cookies nas configurações do seu navegador, mas isso pode impactar algumas funcionalidades.</p>
    </section>

    <section>
        <h2>5. Segurança das Informações</h2>
        <p>Adotamos medidas de segurança para proteger suas informações contra acessos não autorizados, alterações ou
            divulgações indevidas.</p>
    </section>

    <section>
        <h2>6. Seus Direitos</h2>
        <p>Você tem o direito de:</p>
        <ul>
            <li>Solicitar acesso, correção ou exclusão de suas informações pessoais.</li>
            <li>Retirar seu consentimento para o uso de suas informações a qualquer momento.</li>
        </ul>
    </section>

    <section>
        <h2>7. Alterações nesta Política de Privacidade</h2>
        <p>Podemos atualizar esta Política de Privacidade periodicamente. A data da última revisão será indicada no topo
            desta página.</p>
    </section>

    <section>
        <h2>8. Contato</h2>
        <p>Se tiver dúvidas ou preocupações sobre esta Política de Privacidade, entre em contato conosco pelo e-mail: <a
                href="mailto:seuemail@dominio.com">seuemail@dominio.com</a>.</p>
    </section>
